body {
  margin: 0 auto;
  font-family: 'Georgia', Times, serif;
  font-size: 20px;
  line-height: 1.6em;
  padding: 15px;
  width: 720px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Myriad Pro', 'Droid Serif', 'Georgia', serif;
  display: inline;
  margin: 0;
  font-weight: normal;
}
ul,
li {
  list-style-type: none;
}
header,
footer,
section,
article {
  display: block;
}
a {
  text-decoration: none;
  border-bottom: 1px dotted #bbbbbb;
  color: #000000;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #bbbbbb;
  color: #b83000;
}
.profiles {
  position: fixed;
  -webkit-padding-start: 0;
  /*same as padding-left: 0px ?*/

  bottom: 170px;
  right: 45px;
  text-align: right;
}
.profiles li {
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
}
.profiles ul {
  margin-top: 15px;
  padding-left: 0;
  display: inline;
}
.profiles h1 {
  font-size: 42px;
  font-weight: normal;
}
.profiles h1  > #ext {
  color: #b83000;
}
.profiles  > header {
  text-align: left;
  display: block;
  line-height: 96px;
  margin-bottom: 25px;
}
.profiles header {
  line-height: normal;
  margin-bottom: 15px;
  text-align: left;
  padding: 0;
}
.profiles header h1 {
  font-family: 'Droid Serif', 'Myriad Pro', 'Georgia', sans-serif;
  border-bottom: 1px dotted #bbbbbb;
  margin-bottom: 15px;
  text-align: left;
  padding: 0;
  padding-bottom: 5px;
  font-size: 60px;
}
.profile {
  text-decoration: none;
  font-size: 28px;
  border: 0;
  color: #000000;
}
.profile:hover {
  text-decoration: none;
}
.profile:hover:before {
  color: #000000;
}
.profile:hover:after {
  color: #000000;
}
.profile:before {
  color: #ffffff;
  border: 0;
  content: "{";
}
.profile:after {
  color: #ffffff;
  border: 0;
  content: "}";
}
#home {
  margin: 0;
  padding: 0;
}
#home  > section {
  min-width: 720px;
  position: absolute;
  margin: 0;
  bottom: 0;
  padding: 0;
  height: 800px;
  width: 960px;
  background: url(http://cloudhead.io/images/cloudhead.png) no-repeat scroll 30px bottom;
}
